<%= turbo_stream_from current_cart%>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle border rounded" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-cart"></i> Checkout
    <span class="badge rounded-pill badge-notification bg-danger">
      <%= render "cart/item_count", count: current_cart.quantity %>
    </span>
  </a>
  <ul class="dropdown-menu dropdown-menu-lg-end text-center shadow-sm">
    <% current_cart.cart_items.each do |cart_item| %>
      <li>
        <div class="cart-item">
          <%= image_tag(cart_item.product.image, class: "cart-item-image", width: 60, height: 60) %>
          <div class="cart-item-details">
            <p><%= cart_item.product.name %></p>
            <p>Price: <%= number_to_currency(cart_item.product.price) %></p>
          </div>
        </div>
      </li>
    <% end %>

    <% if current_cart.cart_items.empty? %>
      <li class="dropdown-item">Cart is empty</li>
    <% end %>

    <% if current_cart.cart_items.present? %>
      <li class="dropdown-item total">
        <p>Total: <%= "Total price logic goes here" %></p>
        <%= link_to "Checkout", "#", class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
</li>
