<section class="gradient-custom">
  <div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-2 pb-1">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-outline form-white mb-4">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
                  <label class="form-label" for="typeEmailX">Email</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg" %>
                  <label class="form-label" for="typePasswordX">Password</label>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="form-outline form-white mb-4">
                    <%= f.check_box :remember_me, class: "form-check-input" %>
                    <%= f.label :remember_me, class: "form-check-label" %>
                  </div>
                <% end %>

                <button class="btn btn-primary btn-lg px-5" type="submit">Login</button>
              <% end %>
            </div>

            <div>
              <p class="mb-0">Don't have an account? <a class="text-white-50 fw-bold"><br><%= render "devise/shared/links" %></a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
