<%= turbo_stream_from current_cart %>
<div class="py-16 px-6 px-md-14 bg-white">
  <div class="d-flex mb-12 align-items-center">
    <h3 class="mb-2 mt-3">Order summary</h3>
    <span class="flex-shrink-0 d-inline-flex mt-3 ms-4 align-items-center justify-content-center rounded-circle bg-primary text-white" style="width: 32px; height: 32px;">
      <%= render "cart/item_count", count: current_cart.quantity %>
    </span>
  </div>
  <div class="mb-12 pb-16 border-bottom">
    <% current_cart.cart_items.each do |cart_item| %>
      <%= render "cart/item_line", cart_item: cart_item %>
    <% end %>
  </div>
  <div class="mb-12">
    <div class="mb-10">
      <div class="py-3 px-10 rounded-pill">
        <div class="d-flex justify-content-between">
          <span class="lead fw-bold" data-config-id="row4">Total</span>
            <%= render "cart/total_price" %>
        </div>
      </div>
    </div>
  </div>
  <%= button_to "Check out", checkout_path, data: { turbo: false }, class: "btn btn-primary w-100 text-uppercase" %>
</div>
