  <div class="col-12 col-lg-3">
    <%= turbo_frame_tag "filtering" do %>
      <div class="h3">Filtering</div>
      <%= form_for :search, url: search_path do |f| %>
        <div class="input-group mb-3">
        <%= f.text_field :query, class: "form-control" %>
        <%= f.submit "Search", class: "btn btn-outline-secondary" %>
        </div>

        <%= f.select :sort, [
          ["Price Low to High", :price_lth],
          ["Price High to Low", :price_htl]
          ], { include_blank: true}, 
          class: "form-select mb-3" %>

          <div class="h4">Price</div>
          <ul class="list-group mb-3">

            <li class="list-group-item">
              <div class="form-check">
                <%= f.check_box :price, { multiple: true, class: "form-check-input" }, "lt100", nil %>
                <%= f.label :price, "< £100", class: "form-check-label" %>
              </div>
            </li>

            <li class="list-group-item">
              <div class="form-check">
                <%= f.check_box :price, { multiple: true, class: "form-check-input" }, "between100and250", nil %>
                <%= f.label :price, "£100 - £250", class: "form-check-label" %>
              </div>
            </li>

            <li class="list-group-item">
              <div class="form-check">
                <%= f.check_box :price, { multiple: true, class: "form-check-input" }, "gt250", nil %>
                <%= f.label :price, "> £250", class: "form-check-label" %>
              </div>
            </li>

          </ul>
      <% end %>
    <% end %>
  </div>