<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary sticky-top" style="padding: 0;">
  <div class="container">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mx-auto d-block d-sm-none">E-commerce Shop</a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link', style: 'line-height: 50px;' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Products', products_path, class: 'nav-link', style: 'line-height: 50px;' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact Us', contact_us_index_path, class: 'nav-link', style: 'line-height: 50px;' %>
        </li>
      </ul>

      <a class="navbar-brand mx-auto d-none d-lg-block">E-commerce Shop</a>

      <ul class="navbar-nav flex-row">
        <%= render 'cart/cart' %>
      </ul>
      <ul class="navbar-nav flex-row">
        <li class="nav-item dropdown me-3 me-lg-1">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-fill"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to sign out?' }, class: "nav-link active" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Log In", new_user_session_path, class: "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link active" %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
